.button{
    background-color: #F0A500;
    border-radius: 10px;
    font-weight: 700;
    font-size: 18px;
    padding: 32px;
    border: none;
    cursor: pointer;
    color: white;
    margin: 32px 0;
}

.button:hover{
    background-color: #CF7500;
}